$blue: #1EC5EA;
$white: #F5F5F5;
$text-black:#595A5A;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    * {
        color: #fff;
    }
    h1 {
        text-align: center;
    }
    h3 {
        text-decoration: underline;
    }
    .welcomeCard {
        background-color: $blue;
        width: 500px;
        padding: 50px;
        margin: 50px;
        button {
            .mat-icon {
                color: $blue;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        height: 100%;
        .welcomeCard {
            width: 100%;
            height: 100%;
            margin: 0;
            button {
                width: 100%;
            }
        }
    }
}