.contact-us {
    section {
        flex: 1;
        .mat-mdc-list-item {
            padding: 0;
            .contact-items {
                display: flex;
                .mat-icon {
                    padding-right: 20px;
                }
            }
        }
    }
    section.blue {
        flex: unset;
        text-align: center;
    }
}