.contactUsForm {
    box-sizing: border-box;
    > div {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        > *:not(button) {
            flex: 1;
        }
        &.submit-button-container {
            width: unset;
            justify-content: end;
        }
    }
}