<mat-tab-group selectedIndex="2">
    @for (tab of submenu; track tab) {
      <mat-tab [label]="tab">
            <article class="subcontent">
                <section>
                    <img src="assets/images/adviser.png" alt="adviser"/>
                </section>
                <section class="blue">
                    <h2>Why have a financial adviser?
                    </h2>
                    <p>Haven was created out of the need to simply do things better. With specialist advisers across a range of financial services, we will offer you the best, practical advice for your unique situation.</p>
                    <p>Our financial advisers span the north and south island making us conveniently positioned wherever you need us.</p>
                    <button mat-stroked-button class="app-btn">Learn more about our advisers <mat-icon iconPositionEnd>send</mat-icon></button>
                </section>
            </article>
        </mat-tab>
    }
</mat-tab-group>