<div class="container">
    <mat-card class="registrationCard">
        <h1>REGISTER</h1>
        <form [formGroup]="registrationForm" class="registrationForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Full name</mat-label>
                <input matInput formControlName="fullname" [errorStateMatcher]="matcher" required>
                @if (submitted && form['fullname'].hasError('required')) {
                    <mat-error>Full name is required</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" [errorStateMatcher]="matcher" required>
                @if (submitted && form['email'].hasError('email') && !form['email'].hasError('required')) {
                    <mat-error>Please enter a valid email</mat-error>
                }
                @if (submitted && form['email'].hasError('required')) {
                    <mat-error>Email is required</mat-error>
                }
            </mat-form-field>
            <mat-form-field >
                <mat-label>Contact number</mat-label>
                <input matInput type="number" inputmode="numeric" [errorStateMatcher]="matcher" formControlName="contact">
                @if (submitted && form['contact'].hasError('pattern') && !form['contact'].hasError('required')) {
                    <mat-error>Please enter a valid contact number</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message"></textarea>
            </mat-form-field>
            <div class="button-container">
                <button mat-flat-button (click)="clear()">Clear</button>
                <button mat-flat-button type="submit">Submit</button>
            </div>
        </form>
    </mat-card>
</div>