$blue: #1EC5EA;
$white: #F5F5F5;
$text-black:#595A5A;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

article {
    display: flex;
    section {
        padding: 20px 50px;
    }
    > section.blue {
        background-color: $blue;
        color: $white;
        button {
            background-color: #FEFFFF;
        }
    }
    > section:not(.blue) {
        background-color: $white;
        h2 {
            color: $blue;
            font-weight: 100;
        }
        span {
            color: $text-black;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    article {
        flex-direction: column;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    article {
        flex-direction: column;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    article {
        flex-direction: row;
    }
}

