@import './styles/override.scss';
$blue: #1EC5EA;
$white: #F5F5F5;
$text-black:#595A5A;


html, body, main { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

article {
    display: flex;
    section {
        padding: 20px 50px;
    }
    > section.blue {
        background-color: $blue;
        color: $white;
        button {
            background-color: #FEFFFF;
        }
    }
    > section:not(.blue) {
        background-color: $white;
        h2 {
            color: $blue;
            font-weight: 100;
        }
        span {
            color: $text-black;
        }
    }
}

footer {
    background-color: #292A2A;
    color: rgba($white, .8);
    font-size: 12px;
    .mdc-list-item__primary-text {
        color: rgba($white, .8);
        font-size: 10px;
        &:hover {
            color: red;
        }
    }
    .mat-divider {
        width: 100%;
        border-top-color: rgba($white, .8);
    }
    .bottom-divider {
        border-top-color: rgba($white, .2);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    article {
        flex-direction: column;
        &.subcontent {
            flex-direction: column-reverse;
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    article {
        flex-direction: column;
        &.subcontent {
            flex-direction: column-reverse;
        }
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    article {
        flex-direction: row;
        &.subcontent {
            flex-direction: row;
        }
    }
}

